# 服务配置
SERVER_ADDR=:15001

# MySQL 配置
MYSQL_HOST=127.0.0.1
MYSQL_PORT=20001
MYSQL_USER=dextea
MYSQL_PASSWORD=
MYSQL_DATABASE=dextea

# Redis 配置
REDIS_HOST=127.0.0.1
REDIS_PORT=21001
REDIS_PASSWORD=
REDIS_DB=0
REDIS_GALLERY_TTL=10m

# 对象存储配置
STORAGE_MAX_UPLOAD_SIZE=20971520
STORAGE_SOURCE_NAME=minio-dev
STORAGE_SOURCE_VENDOR=minio
STORAGE_SOURCE_ENDPOINT=127.0.0.1:9000
STORAGE_SOURCE_REGION=us-east-1
STORAGE_SOURCE_ACCESS_KEY=
STORAGE_SOURCE_SECRET_KEY=
STORAGE_SOURCE_USE_SSL=false
STORAGE_SOURCE_DEFAULT_BUCKET=gin-quickstart-dev

# Nacos 配置
NACOS_ENABLED=true
NACOS_SERVER_HOST=127.0.0.1
NACOS_SERVER_PORT=22001
NACOS_NAMESPACE=
NACOS_GROUP=DEFAULT_GROUP
NACOS_CLUSTER=DEFAULT
NACOS_SERVICE_NAME=dextea-xos
NACOS_WEIGHT=1
NACOS_INSTANCE_IP=
NACOS_USERNAME=
NACOS_PASSWORD=
